@model TrashCollector.Models.Employee

@{
    ViewBag.Title = "Route";
}

<h2>Details</h2>

<div>
    <h4>Employee Route for Today</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpZip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
