@model TrashCollector.Models.PickUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PickUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomPickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
